<img src="atom.png" alt="Atom" style="width:60px" align="left" vertical-align="middle">

## 1. What is a list?
*in Python 3*

----
Lists are mutable sequences, typically used to store collections of homogeneous items (where the precise degree of similarity will vary by application) in Python.

<br/>Suppose we want to make a list of the heights of students in a class:

    Jenny is 61 inches tall
    Alexus is 70 inches tall
    Sam is 67 inches tall
    Grace is 64 inches tall

<br/>In Python, we can create a variable called `heights` to store these numbers:

In [1]:
heights = [61, 70, 67, 64]

Notice that:

    1. A list begins and ends with square brackets ([ and ]).
    2. Each item (i.e., 67 or 70) is separated by a comma (,)
    3. It’s considered good practice to insert a space ' ' after each comma, but your code will run just fine if you forget the space.

<img src="atom.png" alt="Atom" style="width:60px" align="left" vertical-align="middle">

## 2. Lists II
*in Python 3*

----
Lists can contain more than just numbers.

<br/>Let’s revisit our height example:

    Jenny is 61 inches tall
    Alexus is 70 inches tall
    Sam is 67 inches tall
    Grace is 64 inches tall

<br/>We can make a list of strings that contain the students’ names:

In [3]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']

We can also combine multiple data types in one list. For example, these lists contain both strings and integers:

In [5]:
mixed_list = ['Jenny', 61]
ints_and_strings = [1, 2, 3, 'four', 'five', 'hello']
sam_height = ['Sam', 67]

<img src="atom.png" alt="Atom" style="width:60px" align="left" vertical-align="middle">

## 3. List of Lists
*in Python 3*

----
We’ve seen that the items in a list can be numbers or strings. They can also be other lists!

<br/>Once more, let’s return to our class height example:

    Jenny is 61 inches tall
    Alexus is 70 inches tall
    Sam is 67 inches tall
    Grace is 64 inches tall

<br/>Previously, we saw that we could create a list representing both Jenny’s name and height:

In [6]:
jenny = ['Jenny', 61]

We can put several of these lists into one list, such that each entry in the list represents a student and their height, and another of their names and ages:

In [8]:
heights = [['Jenny', 61], ['Alexus', 70], ['Sam', 67], ['Grace', 64], ['Vik', 68]]
ages = [['Aaron', 15], ['Dhruti', 16]]

<img src="atom.png" alt="Atom" style="width:60px" align="left" vertical-align="middle">

## 4. Zip
*in Python 3*

----
Again, let’s return to our class height example:

    Jenny is 61 inches tall
    Alexus is 70 inches tall
    Sam is 67 inches tall
    Grace is 64 inches tall

<br/>Suppose that we already had a list of names and a list of heights:

In [9]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
heights = [61, 70, 67, 65]

If we wanted to create a list of lists that paired each name with a height, we could use the command `zip`. `zip` takes two (or more) lists as inputs and returns an *object* that contains a list of pairs. Each *pair* contains one element from each of the inputs. You won’t be able to see much about this object from just printing it because it will return the location of this object in memory. Output would look something like this:

In [10]:
names_and_heights = zip(names, heights)
print(names_and_heights)

<zip object at 0x1100c2148>

To see the nested lists, you can convert the zip object to a `list` first:

In [11]:
print(list(names_and_heights))

[('Jenny', 61), ('Alexus', 70), ('Sam', 67), ('Grace', 65)]

Another example:

In [4]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
dogs_names = ['Elphonse', 'Dr. Doggy DDS', 'Carter', 'Ralph']

names_and_dogs_names = zip(names, dogs_names)
list_of_names_and_dogs_names = list(names_and_dogs_names)
print(list_of_names_and_dogs_names)

[('Jenny', 'Elphonse'), ('Alexus', 'Dr. Doggy DDS'), ('Sam', 'Carter'), ('Grace', 'Ralph')]

<img src="atom.png" alt="Atom" style="width:60px" align="left" vertical-align="middle">

## 5. Empty Lists
*in Python 3*

----
A list doesn’t have to contain anything! You can create an empty list like this:

In [13]:
empty_list = []

Why would we create an empty list?

<br/>Usually, it’s because we’re planning on filling it later based on some input. We’ll talk about two ways of filling up a list in the next example.

<img src="atom.png" alt="Atom" style="width:60px" align="left" vertical-align="middle">

## 6. Growing a List: Append
*in Python 3*

----
We can add a single element to a list using `.append()`. For example, suppose we have an empty list called `empty_list`:

In [14]:
empty_list = []

We can add the element `1` using the following commands:

In [15]:
empty_list.append(1)

If we examine `empty_list`, we see that it now contains `1`:

In [16]:
print(empty_list)

[1]

When we use `.append()` on a list that already has elements, our new element is added to the **end** of the list:

In [17]:
# Create a list
my_list = [1, 2, 3]

# Append a number
my_list.append(5)
print(my_list) # check the result

[1, 2, 3, 5]

It’s important to remember that `.append()` comes **after** the list. This is different from functions like `print`, which come **before.** Another example:

In [18]:
orders = ['daisies', 'periwinkle']
print(orders)
orders.append('tulips')
orders.append('roses')
print(orders)

['daisies', 'periwinkle']
['daisies', 'periwinkle', 'tulips', 'roses']

**Note:** similar to `.sort()`, the function `.append()` does not return anything:

In [1]:
lst = [23, 42, 108]
new_list = lst.append(len(lst))
print(lst) # This will return the desired answer
print(new_list) # This will not return anything

[23, 42, 108, 3]
None

Because of this, you are better off adding lists manually instead of using the `.append()` function as this may lead to unnecessary errors:

In [4]:
# Return a list of every third number between start and 100 (inclusive). For example, every_three_nums(91) should return the list [91, 94, 97, 100]:
start = 91
print(list(range(start, 100, 3)) + [100]) # This will return the desired answer
print(list(range(start, 100, 3)).append(100)) # This will not return anything

[91, 94, 97, 100]
None

<img src="atom.png" alt="Atom" style="width:60px" align="left" vertical-align="middle">

## 7. Growing a List: Plus (+)
*in Python 3*

----

When we want to add multiple items to a list, we can use `+` to combine two lists.

<br/>Below, we have a list of items sold at a bakery called `items_sold`:

In [15]:
items_sold = ['cake', 'cookie', 'bread']

Suppose the bakery wants to start selling `'biscuit'` and `'tart'`:

In [16]:
items_sold_new = items_sold + ['biscuit', 'tart']
print(items_sold_new)

['cake', 'cookie', 'bread', 'biscuit', 'tart']

In this example, we created a new variable, `items_sold_new`, which contained both the original items sold, and the new ones. We can inspect the original `items_sold` and see that it did not change:

In [18]:
print(items_sold)

['cake', 'cookie', 'bread']

We can only use `+` with other lists. If we type in this code we will get a `TypeError`:

In [22]:
my_list = [1, 2, 3]
my_list + 4

TypeError: can only concatenate list (not "int") to list

If we want to add a single element using `+`, we have to put it into a list with brackets (`[]`):

In [23]:
my_list + [4]

[1, 2, 3, 4]

Other examples:

In [19]:
orders = ['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily']

# Create new orders here:
new_orders = orders + ['lilac', 'iris']
print(new_orders)

# Broken prices:
broken_prices = [5, 3, 4, 5, 4] + [4]
print(broken_prices)

['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily', 'lilac', 'iris']
[5, 3, 4, 5, 4, 4]

<img src="atom.png" alt="Atom" style="width:60px" align="left" vertical-align="middle">

## 8. Range I
*in Python 3*

----
Often, we want to create a list of consecutive numbers. For example, suppose we want a list containing the numbers 0 through 9:

In [25]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Typing out all of those numbers takes time and the more numbers we type, the more likely it is that we have a typo.

<br/>Python gives us an easy way of creating these lists using a function called `range`. The function `range` takes a single input, and generates numbers starting at `0` and ending at the number **before** the input. So, if we want the numbers from `0` through `9`, we use `range(10)` because `10` is `1` greater than `9`:

In [2]:
my_range = range(10)

Just like with `zip`, the `range` function returns an object that we can convert into a `list`:

In [27]:
print(my_range)
print(list(my_range))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<img src="atom.png" alt="Atom" style="width:60px" align="left" vertical-align="middle">

## 9. Range II
*in Python 3*

----
We can use `range` to generate more interesting lists.

<br/>By default, `range` creates a list starting at `0`. However, if we call `range` with two arguments, we can create a list that starts at a different number. For example, `range(2, 9)` would generate numbers starting at `2` and ending at `8` (just before `9`):

In [28]:
my_list = range(2, 9)
print(list(my_list))

[2, 3, 4, 5, 6, 7, 8]

With one or two arguments, `range` will create a list of consecutive numbers (i.e., each number is one greater than the previous number). If we use a third argument, we can create a list that “skips” numbers. For example, `range(2, 9, 2)` will give us a list where each number is `2` greater than the previous number:

In [29]:
my_range2 = range(2, 9, 2)
print(list(my_range2))

[2, 4, 6, 8]

We can skip as many numbers as we want! In this example, we’ll start at `1` and skip `10` between each number until we get to `100`:

In [30]:
my_range3 = range(1, 100, 10)
print(list(my_range3))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

Other examples:

In [3]:
list1 = range(5, 15, 3)
list2 = range(0, 40, 5)
print(list(list1))
print(list(list2))

[5, 8, 11, 14]
[0, 5, 10, 15, 20, 25, 30, 35]

<img src="atom.png" alt="Atom" style="width:60px" align="left" vertical-align="middle">

## 10. Review
*Python 3*

----
So far, we have learned

    1. How to create a list
    2. How to create a list of lists using zip
    3. How to add elements to a list using either .append() or +
    4. How to use range to create lists of integers

<br/>Refer to [Learn.py](https://github.com/the-machine-preacher/Learn-Python) to help you remember the content covered in this lesson. Below is another example of the concepts learned:

In [14]:
#Basic operations
first_names = ['Ainsley', 'Ben', 'Chani', 'Depak']
age = []
age.append(42)
all_ages = [32, 41, 29] + age
name_and_age = zip(first_names, all_ages)
ids = range(4)
name_and_ids = list(zip(first_names, ids))
print("Ages:", all_ages)
print("Name & Age:", list(name_and_age))
print("IDs:", list(ids))
print("Name & IDs:", name_and_ids)

#Appending variables, lists and tuples to lists
last_semester_gradebook = [("politics", 80), ("latin", 96), ("dance", 97), ("architecture", 65)]
subjects = ["physics", "calculus", "poetry", "history"]

subjects.append("computer science")
grades = [98, 97, 85, 88]
grades.append(100)
print("\nSubjects:", subjects)
print("Grades:", grades)

gradebook = list(zip(subjects, grades))
gradebook.append(("visual arts", 93))
print("\nGradebook:", gradebook)

Ages: [32, 41, 29, 42]
Name & Age: [('Ainsley', 32), ('Ben', 41), ('Chani', 29), ('Depak', 42)]
IDs: [0, 1, 2, 3]
Name & IDs: [('Ainsley', 0), ('Ben', 1), ('Chani', 2), ('Depak', 3)]

Subjects: ['physics', 'calculus', 'poetry', 'history', 'computer science']
Grades: [98, 97, 85, 88, 100]

Gradebook: [('physics', 98), ('calculus', 97), ('poetry', 85), ('history', 88), ('computer science', 100), ('visual arts', 93)]